{% load static %}
{% load main_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link type="text/css" href="/media/css/styles.css" rel="stylesheet"/>
    <link type="text/css" href="/media/css/mobile_styles.css" rel="stylesheet" media="(max-device-width: 720px)"/>
    <link rel="shorcut icon" href="/media/images/icon.ico" type="images/x-icon"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="application/javascript" src="/media/js/ant-carousel.js"></script>


</head>
<body>
{% block mainmenu %}
<header class="header-outer">
<div class="header-inner">
    <div class="logo_div"><a class="a-main" href="{% url 'main' %}"><div class="logo"></div></a></div>
    <div class="menu-div">{{ title }}</div>
    {% for m in menu %}
        <div class="menu-div"><a class="a-{{ m.url_name }}" href="{% url m.url_name %}">{{ m.title }}</a></div>
    {% endfor %}
  </div>
    </header>

    <script type="text/javascript">
    $(document).ready(function(){
    $(".carousel").on("click","a", function (event) {
        var id  = $(this).attr('href'),
            top = $(id).offset().top - $(id).height();
        $('body,html').animate({scrollTop: top}, 500);
    });
});
</script>
{% endblock mainmenu %}
{% block background_image %}
<div id="background"></div>
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>