{% load static %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
<div class="map_wrap">
    <div class="place_lat_long">
        <input type="text" id="place_lat" name = "lat" value = "{{post.lat}}">
        <input type="text" id="place_lng" name = "lng" value = "{{post.lng}}">
    </div>
    <div id="map"></div>
</div>
<div class="map_background"></div>
<script src="{% static 'js/map.js' %}"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmHhpmG3accjcFuK1nGr6QiOFCjgXfUdM&libraries=places&callback=initMap"></script>
