{% extends 'MainApp/base.html'%}
{% block content %}
{% load main_tags %}
<div class="main" style="display: inline-block;">
    {% if request.user.is_authenticated %}
    <h1>{{ title }} {{ request.user.username }} | <a class="a-logout" href="{% url 'logout' %}" style="color: black">Выйти</a></h1>
        {% else %}
        <h1>{{ title }}</h1>
    {% endif %}
    <div ><img class="avatar_img" src="{% get_account_avatar request.user.pk %}?" alt =""></div>
    <div><button class="add_post_button"><a href="{% url "post_form" "add" %}">Добавить пост</a></button></div>
    <div class="account-info" style=" margin-left: 150%; padding-bottom: 350px;">
        <h1>Мои посты</h1>
        {% if post %}
        {% for p in post.all %}
            <div class="post_div">
            <div class="username_post_div">
                <h3>{{ user.username }} - {{ p.title }}</h3>
            </div>
            <h5>{{ p.text }}</h5>
            {% if p.gallery %}
                  <div class="ant-carousel" id="carousel-{{ p.pk }}">
  <div class="ant-carousel-hider">
    <ul class="ant-carousel-list">
             {% for i in p.gallery.all %}
      <li class="ant-carousel-element"><img src="{% get_rand_img_url i.img.url %}" alt="{{ i.pk }}"> <p>{{ p.text }}</p> </li>
            {% endfor %}
    </ul>
  </div>
  <div class="ant-carousel-arrow-left"></div><div class="ant-carousel-arrow-right"></div>
  <div class="ant-carousel-dots"></div>
</div>
                <script>new Ant("carousel-{{ p.pk }}");</script>
            {% endif %}
        {% endfor %}

     {% else %}
            <p>Пока нет публикаций</p>
    {% endif %}

</div>
</div>
{% endblock %}